*{
    margin:0;
    padding:0;
    font-family: PP Mori;
    box-sizing:border-box;
    color:black;
    background: white;
    font-family: monospace;
}
html,body{
        height: 100%;
        width: 100%;
    }
.main{
    width: 100%;
    padding: 0px 30px;
}
.nav{
    width: 100%;
    height: 117px;
    display: flex;
    gap: 535px;
    align-items: center;
}
.nav img{
    width: 260px;
    height: 120px;
    position: relative;
}
.nav .menu{
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;

}
.menu h3{
    position: relative;
}
.menu h3 a{
    text-decoration: none;
    font-size: 23px;
    font-weight: 300;
    position: relative;
    color: #D32F2F;
}








.menu-item {
    height: 30px;
    overflow: hidden;
  }
  
  .menu-item h3 {
    position: relative;
    transition: 0.5s all ease-out;
  }
  
  .menu-item:hover h3 {
    transform: translateY(-100%);
  }
.page{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 6vw;
}
.page h1{
    font-size: 10vw;
    font-weight: 300;
    margin-left: 6vw;
    -webkit-text-stroke: 5px #D32F2F;
    color: transparent;
    z-index: 21;
    position: relative;
}
.page h2 {
    font-size: 10vw;               
    font-weight: 300;              
    margin-left: 26vw;             
    -webkit-text-stroke: 2px #D32F2F;
    color: transparent;
    border-radius: 20px;
}
.cursor{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    position:fixed;
    mix-blend-mode:difference;
    z-index: 44;
    transition: left linear 0.1s top linear; 

    background-position: center;
    background-size: cover;

}
.page video{
    width: 60%;
    margin-top: 7vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
}
.page img{
    position: fixed;
     
}
.page1{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 5vw;

}
.banner .taste{
    color:white;
    font-size: 10vw;
    -webkit-text-stroke: 2px white;
    color: transparent;
   letter-spacing: -4px;
   color: #D32F2F;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.page1 .text{
    width: 400px;
    height: 600px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.page1 .text h1{
    color: white;
    font-size: 70px;
    color:#D32F2F;

    line-height: 70px;

}
.page1 .text p{
    color: white;
    font-size: 20px;
    font-weight: lighter;
}
.bottomway{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page1-img {
    position: relative;
}


.img1 {
    width: 100%;
    width: 60vh;
    height: 70vh; 
    border-radius: 20px;

  }
  
  .img2 {
    position: absolute; 
    top: 0;
    left: 0;
    width: 60vh;
    height: 70vh;
    border-radius: 20px;
  } 

  .page2{
    width: 100%;
    height: 100vh;
}
.m-txt {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.m-txt h1{
    color: #D32F2F;
    font-size: 13vw;text-decoration: dotted;
    position: relative;
}
.m-txt h1::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #D32F2F;
    transition: width 0.3s ease-in-out;
}
.m-txt h1:hover::after {
    width: 100%;
  }
  .m-txt img{
    width: 320px;
    height: 300px;
    transform: rotate(20deg);
    transition: transform 0.5s ease-in-out;
  }
  .m-txt img:hover{
    transform: rotate(200deg);
  
  }